@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Satisfy&display=swap");

* {
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
    color: #fff;
}

body {
    background-color: var(--background);
}

body::-webkit-scrollbar {
    width: 0.5em;
}

body::-webkit-scrollbar-thumb {
    background-color: var(--primary);
    border-radius: 6px;
}

.navbar {
    background-color: #fed238 !important;
}

.navbar .navbar-collapse .nav-link,
.offcanvas .nav-link {
    color: #000000;
    font-size: 20px;
    font-style: normal;
    font-weight: 300;
    line-height: 40px;
    letter-spacing: 0.5px;
    gap: 500px !important;
}

.Services {
    background: linear-gradient(
        90deg,
        #ffe45d 0%,
        #ffe45d 20%,
        #ffdc73 50%,
        #ffcb9a 100%
    );
    font-family: "Satisfy", cursive !important;
    color: #000000;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 20px;
}

.logo-booksys {
    font-family: "Satisfy", cursive;
    font-size: 36px;
    color: #000000;
}

.card {
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: #fed238;
    border-radius: 15px;
    padding: 15px;
    color: #fff;
    cursor: pointer;
    border: none;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
}

.icon-box {
    font-size: 90px;
    margin-right: 20px;
    color: #fff;
}

.card-title {
    color: #fff;
    font-size: 30px;
    font-weight: bold;
}

a {
  text-decoration: none;
}

form {
    width: 80%;
    margin: 20px auto;
}

h1 {
    font-size: 3rem;
    text-align: center;
    margin-bottom: 20px;
}

fieldset {
    border: 2px solid #000000;
    padding: 20px;
    border-radius: 10px;
}

legend {
    font-weight: 500;
    font-size: 1.5rem;
    color: #333;
}

.form-group .linha {
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
    margin-bottom: 16px;
}

.form-group .campo {
    flex: 1;
}

.col-4 {
    flex: 0 0 33.33%;
  }

.col-6 {
    flex: 0 0 50%;
}

.col-8 {
    flex: 0 0 66.66%;
}

.col-12 {
    flex: 0 0 100%;
}

.campo label {
    display: block;
    margin-bottom: 4px;
}

.campo input {
    width: 100%;
    padding: 8px;
    border-radius: 4px;
    border: 1px solid #ccc;
}

label {
    font-size: 0.9rem;
    margin-right: 10px;
    color: #000000;
    display: block !important;
    margin-bottom: 2%;
}

input[type="text"],
input[type="email"],
input[type="tel"],
input[type="number"],
input[type="date"] {
    width: 100%;
    background-color: #efefef;
    padding: 15px;
    font-size: 1rem;
    border: 1px solid #efefef;
    border-radius: 5px;
    color: #333;
}

input[type="submit"] {
    background-color: #fed238;
    color: black;
    padding: 10px 20px;
    font-size: 1rem;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    display: block;
    margin: 20px auto;
    width: 400px;
}

input[type="submit"]:hover {
    background-color: #fed238;
    color: #000000;
}

/**/
.titulo {
    font-size: 1.9rem;
    font-weight: 500;
    color: #000000;
}

.btn-warning {
    background-color: #ffd54f;
    color: #fff;
    border: none;
    padding: 6px 25px;
}

.btn-warning:hover {
    color: #fff;
}

.border-bottom {
    border-bottom: 4px solid #ffd54f;
}

.table {
    background-color: #f0f0f0;
}

.table-bordered th,
.table-bordered td {
    border: 1px solid #ddd;
}

.table-light th {
    background-color: #e0e0e0;
}

.btn-secondary {
    background-color: #9d9d9d;
    color: #fff;
    border: none;
}

.btn-danger {
    background-color: red;
    color: #fff;
    border: none;
}

input.error {
  border: 2px solid #d00104;
  color: #d00104;
}

.alert {
  color: #d00104;
  font-size: 0.875rem;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  padding: 0 6px;
}

input:not(.error):focus {
  outline: none;
  border: 1px solid #fed238;
}

/*edit*/
form {
  margin-top: 50px; 
  padding: 20px; 
  background-color: #fff;
  border-radius: 8px; 
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); 
}

label {
  font-size: 1rem;
  margin-right: 10px;
  color: #000000;
  display: block !important;
  margin-bottom: 5px;
}

input {
  width: 100%; 
  padding: 10px; 
  font-size: 1rem;
  margin-bottom: 20px; 
  border: 1px solid #ccc;
  border-radius: 5px; 
  box-sizing: border-box; 
  transition: border-color 0.3s ease, box-shadow 0.3s ease; 
}

input:focus {
  outline: none; 
  border-color: #ffd54f; 
  box-shadow: 0 0 5px rgba(255, 213, 79, 0.5); 
}

.btn-primary {
  background-color: #ffd54f;
  border: none;
  color: black;
  padding: 10px 20px;
  font-size: 1rem;
  border-radius: 5px;
  cursor: pointer;
  display: block;
  margin: 20px auto;
  width: 400px;
}

.btn-primary:hover {
  background-color: #fed238; 
  color: #000000;
  border: none;
}

.btn-primary:focus {
  outline: none; 
  border: none;
}

/* SweetAlert */
.swal2-popup {
  border-radius: 10px;
  font-family: 'Arial', sans-serif;
  background-color: #f8f9fa; 
}

.swal2-title {
  color: #343a40; 
  font-weight: bold;
}

.swal2-content {
  color: #495057; 
}

.swal2-confirm {
  background-color: #dc3545; 
  border: none;
  color: #fff;
  font-weight: bold;
}

.swal2-cancel {
  background-color: #6c757d; 
  border: none;
  color: #fff;
}

.swal2-popup button {
  border-radius: 5px;
}

.swal2-container {
  z-index: 9999; 
}

.swal2-checkbox {
  display: none !important;
}